<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- type에는 사용하려는 domain의 경로를 적어여한다. -->
<mapper namespace="com.example.sstv.user.DAO.UserDAO">


    <resultMap id="userSelectMap" type="com.example.sstv.user.User">
        <result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
        <result property="password" 		column="password" 			jdbcType="VARCHAR" />
    </resultMap>

    <insert 	id="addUser"		parameterType="com.example.sstv.user.User" >
        INSERT
        INTO users( user_id , password)
        VALUES	 (	#{userId} , #{password})
    </insert>

    <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
        SELECT
        *
        FROM users
        WHERE user_id = #{value}
    </select>

</mapper>